REACT_APP_DISCORD_CLIENT_ID=
REACT_APP_DISCORD_CLIENT_SECRET=
REACT_APP_URL=

# Asset Store Provider (without -> provider: file)
ASSET_STORE_PROVIDER=AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=