version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2 

jobs:
  build:
    docker:
      - image: circleci/ruby:2.6.6-stretch-node
    executor: ruby/default
    steps:
      - checkout
      - run:
          name: Install bundler
          command: |
            gem update --system
            gem install bundler:2.1.4
      # - ruby/bundle-install
      - run:
          name: Bundle install
          command: bundle install
      - run:
          name: Which bundler?
          command: bundle -v
      - run:
          name: Run rails tests
          command: bundle exec rails test